MOVIE_DB_TOKEN=YOUR_TOKEN
NEXT_PUBLIC_TRACKER_PROXY_BASE=HOST_URL_OF_YOUR_INSTANCE #https://github.com/noisy5ilence/tracker-proxy
PIRATE_BAY_HOST=https://thepiratebay10.org
YTS_HOST=https://yts.mx/api/v2/list_movies.json
