@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --gradient-color: 0 0% 100%, 0 0% 0%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 0;

    --radius: 0.5rem;
  }

  [data-mode='dark'] {
    --background: 222.2 84% 4.9%;
    --gradient-color: 222.2 84% 4.9%, 0 0% 0%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 0;
  }

  * {
    @apply border-border;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none;
    outline-color: transparent;
  }

  ::-moz-selection {
    color: hsl(var(--secondary));
    background: hsl(var(--secondary-foreground));
  }

  ::selection {
    color: hsl(var(--secondary));
    background: hsl(var(--secondary-foreground));
  }

  ::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: hsl(var(--foreground));
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--muted-foreground));
  }

  body {
    @apply bg-background text-foreground;
  }

  body [data-overlay]:not(:last-of-type) {
    background: none;
  }

  button,
  input[type='button'],
  input[type='reset'],
  input[type='submit'] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .card-aspect-ratio {
    width: 300px;
    height: 450px;
    flex-shrink: 0;
    @media screen and (max-width: 600px) {
      width: 100%;
      height: 100%;
      aspect-ratio: 2/3;
    }
  }

  @supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    .card-aspect-ratio {
      @media screen and (max-width: 600px) {
        aspect-ratio: 1.35/2;
      }
    }
  }
}

.plyr {
  --plyr-menu-color: hsl(var(--secondary));
  --plyr-video-control-background-hover: hsl(var(--secondary-foreground));
  --plyr-video-control-color-hover: hsl(var(--secondary));
  --plyr-video-control-color: white;
  --plyr-color-main: white;
}
