.video-react,
.video-react-menu .video-react-menu-content,
.video-react-control-text {
  font-family: system-ui;
}

.video-react .video-react-menu-button-popup .video-react-menu {
  right: 0;
  left: auto;
  width: 200px;
  border-radius: 4px;
}

.video-react-menu li {
  padding-inline: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

.video-react-menu li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.video-react .video-react-big-play-button.video-react-big-play-button-center {
  display: none;
}
